.loader {
  display: inline-block;
  width: 80px;
  height: 80px; }
  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: #458d1b transparent #458d1b transparent;
    animation: rotate 1.2s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 150px;
  grid-gap: 25px; }
  .search-form__field {
    border: 0;
    border-bottom: 1px solid #424242;
    outline: 0;
    padding: 10px;
    font-size: 14px;
    transition: all 0.3s; }
    .search-form__field:focus {
      border-color: #458d1b;
      transition: all 0.3s; }
    .search-form__field:-ms-input-placeholder {
      text-transform: uppercase;
      font-size: 12px; }
    .search-form__field::placeholder {
      text-transform: uppercase;
      font-size: 12px; }
  .search-form__submit {
    background-color: white;
    cursor: pointer;
    border: 1px solid #424242;
    text-transform: uppercase;
    outline: 0;
    transition: all 0.3s; }
    .search-form__submit:hover {
      background-color: #424242;
      color: white;
      transition: all 0.3s; }
  .search-form__error {
    grid-column: 1/-1;
    font-size: 14px;
    color: #8d1818;
    font-weight: bold; }

.search-page .loader,
.search-page .error {
  display: none; }

.search-page[data-search-page-loading="true"] .loader {
  display: block; }

.search-page[data-search-page-loading="true"] .issue-list {
  display: none; }

.search-page[data-search-page-error="true"] .error {
  display: block; }

.search-page__title {
  font-size: 35px;
  font-weight: normal;
  margin: 0 0 50px;
  text-transform: uppercase; }

.search-page__top {
  position: sticky;
  top: 0;
  background-color: white;
  margin-bottom: 70px; }

body {
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
  color: #424242; }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box; }

