include ../../components/search-form/search-form.pug
include ../../components/issue-list/issue-list.pug
include ../../components/loader/loader.pug

+b.search-page(data-controller="search-page")
    +search-form()(data-action="submit->search-page#search")
    +loader()
    +issue-list()(data-target="search-page.issueList")
