include ./components/search-form/search-form.pug
include ./components/issue-list/issue-list.pug
include ./components/issue-details/issue-details.pug
include ./components/loader/loader.pug
include ./components/error/error.pug
include ./components/back/back.pug

+b.app(data-controller="app")
    +e.issue-finder
        +e.top.centerer
            +e.H1.title Issue finder
            +search-form()(data-action="submit->app#search")
        +e.content.centerer
            +issue-list()(data-target="app.issueList" data-action="issueClick->app#showIssueDetails")
            +loader()
            +error(data-target="app.error")
    +e.issue-details
        +issue-details()(data-target="app.issueDetails")
        +back()(data-action="goBack->app#goBack")
