mixin search-form()
    +b.FORM.search-form(data-controller="search-form")&attributes(attributes)
        +e.field
            input(type="text" placeholder="User name" data-target="search-form.name")
        +e.field
            input(type="text" placeholder="User repo" data-target="search-form.repo")
        +e.BUTTON.submit(type="submit" data-action="search-form#submit") Search