.search-form {
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
    grid-gap: 25px;
    position: relative;
    padding-bottom: 30px;

    &__field {
        border: 0;
        border-bottom: 1px solid $c-gray;
        outline: 0;
        padding: 10px;
        font-size: 14px;
        transition: $transition;

        &:focus {
            border-color: $c-green;
            transition: $transition;
        }

        &::placeholder {
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    &__submit {
        background-color: $c-white;
        cursor: pointer;
        border: 1px solid $c-gray;
        text-transform: uppercase;
        outline: 0;
        transition: $transition;

        &:hover {
            background-color: $c-gray;
            color: $c-white;
            transition: $transition;
        }
    }

    &__error {
        font-size: 14px;
        color: $c-red;
        font-weight: bolder;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
