mixin issue-details()
    +b.issue-details(data-controller="issue-details")&attributes(attributes)
        +e.top
            +e.P.title(data-target="issue-details.title")
            +e.P.status(data-target="issue-details.status")
        .centerer
            +e.DIV.content(data-target="issue-details.content")

        