mixin search-form()
    +b.FORM.search-form(data-controller="search-form")&attributes(attributes)
        +e.INPUT.field(type="text" placeholder="User name" data-target="search-form.name" data-action="focus->search-form#focusNameInput")
        +e.field-wrapper 
            +e.INPUT.field(type="text" placeholder="User repo" data-target="search-form.repo" data-action="focus->search-form#focusRepoInput input->search-form#inputRepo")
            +e.UL.autocomplete( data-target="search-form.repoAutomplete" hidden)
        +e.INPUT.field(type="text" placeholder="Assignee")
        +e.BUTTON.submit(type="submit" data-action="search-form#submit") Search
        +e.error(data-target="search-form.error" hidden)