@import "./app/core/styles/variables.scss";

@import "./app/components/loader/loader.scss";
@import "./app/components/error/error.scss";
@import "./app/components/issue/issue.scss";
@import "./app/components/issue-details/issue-details.scss";
@import "./app/components/issue-list/issue-list.scss";
@import "./app/components/search-form/search-form.scss";
@import "./app/app.scss";

body {
    margin: 0;
    font-size: 18px;
    font-family: sans-serif;
    color: $c-gray;
    overflow: scroll;
    min-width: 800px;
}

.centerer {
    width: 700px;
    padding: 0 calc((100% - 700px) / 2);
}
